* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #222222;
	color: #e9e9e9;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#grid {
	width: 400px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}
